# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.spec

# Logs and databases
*.log
*.db
*.sqlite3
log/
logs/

# User-specific configuration
truck_sim_config.json
truck_sim_presets.json
Truck_Sim

# Virtual Environments
.env
.venv
env/
venv/
ENV/
VENV/
pyvenv.cfg
.python-version
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db


# old data
old_del
